:root {
    --PrimaryColor: #5d4732;
    --HoverColor: #9a7a61;
    --paleGreen: #b3a9a1;
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 40%);
    --bgColor: #b3a9a1;
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);

    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: 0.938rem;
    --smallFontSize: 0.813rem;
    --smallestFontSize: 0.75rem;
}

.topSection .headerSection {
    justify-content: space-between;
}

.topSection .headerSection .title h1 {
    font-size: var(--h1FontSize);
    color: var(--blackColor);
    font-weight: 700;
}

.topSection .headerSection .searchBar {
    padding: 1rem 2rem;
    background: var(--whiteColor);
    border-radius: 5px;
    gap: 1rem;
    box-shadow: 0 2px 4px var(--inputColor);
}

.topSection .headerSection .searchBar input {
    border: none;
    outline: none;
    background: none;
}

.topSection .headerSection .searchBar .icon {
    color: var(--textColor);
}

.topSection .headerSection .searchBar .icon:hover {
    color: var(--PrimaryColor);
}

.topSection .headerSection .adminDiv {
    gap: 1rem;
}

.topSection .headerSection .adminDiv .icon {
    font-size: var(--biggestFontSize);
    background: var(--whiteColor);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 4px var(--inputColor);
    color: var(--textColor);
}

.topSection .headerSection .adminDiv .adminImage {
    border: 3px solid var(--whiteColor);
    border: 10px;
    width: 2.5rem;
    overflow: hidden;
    box-shadow: 0 2px 4px var(--inputColor);
}

.topSection .headerSection .adminDiv .adminImage img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.cardSection {
    margin-top: 3rem;
    gap: 1rem;
}

.cardSection .rightCard {
    position: relative;
    flex-basis: 70%;
    height: 200px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
    padding: 2rem;
    border-radius: 1rem;
    overflow: none;
}

.cardSection .rightCard .videoDiv {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.cardSection .rightCard .videoDiv video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.cardSection .rightCard h1,
p,
.btn {
    z-index: 100;
}

.cardSection .rightCard h1 {
    font-size: var(--h1FontSize);
    color: var(--whiteColor);
    font-weight: 800;
}

.cardSection .rightCard p {
    padding: 1rem;
    color: var(--paleGreen);
    font-weight: 500;
}

.buttons {
    gap: 1rem;
}

.buttons .btn {
    box-shadow: none;
    padding: 0.8rem 1.5rem;
    color: var(--PrimaryColor);
    border: 2px solid transparent;
}

.buttons .transparent {
    background: none;
    border: 2px solid var(--paleGreen);
    color: var(--paleGreen);
}

.buttons .transparent:hover {
    background: var(--paleGreen);
    color: var(--PrimaryColor);
}

.leftCard {
    flex-basis: 50%;
}

.leftCard .main {
    position: relative;
    padding: 1rem;
    height: 200px;
    border-radius: 1rem;
    justify-content: space-between;
}

.leftCard .main::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 75%;
    background: var(--paleGreen);
    left: 0;
    bottom: 0;
    border-radius: 1rem;
}

.leftCard .main .textDiv {
    z-index: 100;
}

.leftCard .main .textDiv h1 {
    font-size: var(--h1FontSize);
    padding-bottom: 1rem;
    color: var(--blackColor);
}

.leftCard .main .textDiv .flex {
    gap: 1.5rem;
    font-weight: 500;
    color: var(--blackColor);
}

.leftCard .main .textDiv .flex small {
    font-size: var(--normalFontSize);
    display: block;
    color: var(--PrimaryColor);
    font-weight: 500;
    padding: 0.5rem 0;
}

.leftCard .main .textDiv .link {
    margin-top: 2rem;
    cursor: pointer;
}

.leftCard .main .textDiv .link:hover {
    color: var(--PrimaryColor);
}

.leftCard .main .textDiv .link:hover .icon {
    transform: translateX(10px);
    transition: 0.3s ease;
}

.leftCard .main .imageDiv {
    transform: translateY(-20px);
}

.leftCard .main .imageDiv img {
    width: 200px;
}

.leftCard .sideBarCard {
    display: none;
    width: 100%;
    padding: 1rem;
    text-align: center;
    position: relative;
}

.leftCard .sideBarCard .icon {
    position: absolute;
    background-color: var(--HoverColor);
    border: 10px solid var(--whiteColor);
    font-size: 3rem;
    border-radius: 50%;
    top: -0px;
    right: 50%;
    transform: translate(50%);
    z-index: 100;
}

.leftCard .sideBarCard .cardContent {
    position: relative;
    padding: 1rem;
    background: var(--HoverColor);
    border-radius: 10px;
    overflow: hidden;
}

.leftCard .sideBarCard .cardContent h3 {
    font-size: var(--h3FontSize);
    margin-top: 1rem;
    padding: 1rem 0;
    font-weight: 800;
    color: var(--blackColor);
}

.leftCard .sideBarCard .cardContent p {
    font-size: var(--normalFontSize);
    color: var(--textColor);
    padding-bottom: 1rem;
    font-weight: 500;
}

.leftCard .sideBarCard .cardContent .btn {
    position: relative;
    color: var(--textColor);
    z-index: 1000;
}

.leftCard .sideBarCard .cardContent .circle1,
.circle2 {
    position: absolute;
    background: var(--paleGreen);
    border-radius: 50%;
    opacity: 0.7;
}

.leftCard .sideBarCard .cardContent .circle1 {
    height: 100px;
    width: 100px;
    top: -50px;
    left: -50px;
}

.leftCard .sideBarCard .cardContent .circle2 {
    height: 150px;
    width: 150px;
    top: -80px;
    left: -70px;
    z-index: 1;
}


@media screen and (max-width: 990px) {
    .cardSection {
        flex-direction: column;
    }

    .cardSection .rightCard {
        width: 100%;
        flex-basis: 100%;
    }

    .cardSection .leftCard {
        width: 100%;
        flex-basis: 100%;
    }

    .leftCard {
        margin-top: 2rem;
        align-self: flex-start;
        height: 10px !important;
    }

    .leftCard .sideBarCard {
        display: block !important;
    }
}

@media screen and (max-width: 918px) {
    .headerSection .searchBar {
        display: none;
    }
}

@media screen and (max-width: 725px) {
    .cardSection .leftCard .main {
        width: 100%;
    }

    .cardSection .leftCard .sideBarCard {
        display: none !important;
    }
}

@media screen and (max-width: 490px) {
    .headerSection .adminDiv {
        display: none;
    }

    .headerSection .title {
        text-align: center;
        margin: auto;
    }

    .cardSection .rightCard {
        text-align: center;
    }

    .cardSection .rightCard .buttons {
        margin: auto;
        flex-direction: column;
    }

    .cardSection .rightCard .buttons .btn {
        width: 100%;
    }

    .cardSection .leftCard .main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cardSection .leftCard .main .textDiv {
        margin: auto;
    }

    .cardSection .leftCard .main::before {
        width: 100% !important;
    }

    .cardSection .leftCard .main .imageDiv {
        display: none;
    }
}

@media screen and (max-width: 390px) {
    .topSection .cardSection .rightCard {
        text-align: center;
        padding: 2rem 1rem;
    }

    .topSection .cardSection .rightCard h1 {
        font-size: var(--h2FontSize);
    }
}